@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Men, .Women{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 8% 10%;
    padding: 8% 14%;
}


.Article{
    display: inline-block;
    cursor: pointer;
}

.image{
    width: 22vw;
    height: 60vh;
    border-radius: 20px;
}

.price{
    background: rgb(245, 62, 62);
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 2% 14%;
    margin: 0;
    color: white;
    font-family: Bebas Neue;
    font-size: 1.7em;
    border-radius: 10px;
    position: relative;
    bottom: 1.3rem;
    left: 10rem;
}

//modal----------------------------------------------------------------------------------------

.Modal{
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto ;

    .image_modal{
        padding: 5%;
    }

    .Información {
        padding-top: 10%;
        margin-left: 13%;
        width: 80%;

        .close_modal{
            position: absolute;
            top: 2%;
            right: 2%;
            background: none;
            border: none;
            font-size: 2em;
            cursor: pointer;
        }  

        .title{
            font-size: 2em;
            font-family: Bebas Neue;
            letter-spacing: 2px;
            margin-bottom: 10%;
        }

        .descripción{
            font-size: 1.6em;
            margin-bottom: 7%;
        }


        .Buy-content{
            display: flex;
            width: 80%;
            align-items: center;
            justify-content: center;


            .price_modal{
                padding: 0.2em 0.9em;
                font-size: 2em;
                margin-right: 1.5em;
                border: 1px solid black;
                background-color: rgb(221, 140, 140);
            }

            .comprar{
                background: none;
                font-size: 1.8em;
                padding: 0.25em 0.9em;
                background-color: rgb(132, 212, 212);
                cursor: pointer;
                text-decoration: none;
                color: black;
                border: 1px solid black;
            }

        }
        
    }
}

.Modal2{
    background-color: white;
    height: 100%;
    padding: 6% 30%;
    .price_modal_2{
        font-size: 5em;
        text-align: center;
        font-family: Bebas Neue;
    }

    .close_modal_2{
        position: absolute;
        top: 2%;
        right: 2%;
        background: none;
        border: none;
        font-size: 2em;
        cursor: pointer;
    } 
}

.formulario{
    display: grid;
    #CardElement{
        margin-top: -2em;
    }   
    .Comprar{
        font-size: 2.5em;
        margin-top: 1em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        background: rgb(64, 141, 128);
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }

    .Comprar:hover{
        background: rgb(71, 184, 114);
    }
}

