@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.Men, .Women{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 8% 25%;
    margin: 6% 0 11% 0;
    justify-content: center;
}


.Article{
    display: inline-block;
    cursor: pointer;
}

.image{
    width: 20vw;
    max-height: 80vh;
    border-radius: 20px;
}

.price{
    background: rgb(245, 62, 62);
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 2% 14%;
    margin: 0;
    color: white;
    font-family: Bebas Neue;
    font-size: 1.7em;
    border-radius: 10px;
    position: relative;
    bottom: 1.3rem;
    left: 10rem;
}


//Media_Queries-------------------------------------------------------------

@media(max-width: 1280px){
    .image{
        width: 24vw;
        max-height: 90vh;
    }
}

@media(max-width: 860px){
    .image{
        width: 24vw;
        max-height: 90vh;
    }

    .price{
        font-size: 1.2em;
        padding: 2% 10%;
        left: 5rem;
    }
}

@media(max-width: 578px){
    .Men, .Women{
        display: grid;
        grid-template-columns: auto;
        gap: 3%;
        margin: 15% 0 40% 0;
    }

    .image{
        width: 50vw;
        max-height: 90vh;
    }

}