.Modal{
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto ;

    .image_modal{
        padding: 5%;
    }

    .Información {
        padding-top: 10%;
        margin-left: 13%;
        width: 80%;

        .close_modal{
            position: absolute;
            top: 2%;
            right: 2%;
            background: none;
            border: none;
            font-size: 2em;
            cursor: pointer;
        }  

        .title{
            font-size: 2em;
            font-family: Bebas Neue;
            letter-spacing: 2px;
            margin-bottom: 10%;
        }

        .descripción{
            font-size: 1.6em;
            margin-bottom: 7%;
        }


        .Buy-content{
            display: flex;
            width: 80%;
            align-items: center;
            justify-content: center;


            .price_modal{
                padding: 0.2em 0.9em;
                font-size: 2em;
                margin-right: 1.5em;
                border: 1px solid black;
                background-color: rgb(221, 140, 140);
            }

            .comprar{
                font-size: 1.8em;
                padding: 0.25em 0.9em;
                background-color: rgb(132, 212, 212);
                cursor: pointer;
                text-decoration: none;
                color: black;
                border: 1px solid black;
            }

        }
        
    }
}

@media(max-width: 1024px){
    .Modal{
        background-color: white;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto ;
    
        .image_modal{
            padding: 5%;
            width: 95%;
        }

        .Información {
            .title{
                font-size: 1.5em;
            }
            .descripción{
                font-size: 1.1em;
            }

            .Buy-content{
                width: 80%;
    
                .price_modal{
                    padding: 0.2em 0.9em;
                    font-size: 1.5em;
                    margin-right: 1.5em;
                }
    
                .comprar{
                    font-size: 1.5em;
                    padding: 0.25em 0.9em;
                }
    
            }
        }
    }
}

@media(max-width: 1024px){
    .Modal{
        background-color: white;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    
        .image_modal{
            padding: 5%;
            width: 50%;
            margin: auto;
        }

        .Información {
            .title{
                font-size: 1em;
            }
            .descripción{
                font-size: 0.9em;
            }

            .Buy-content{
                width: 80%;
    
                .price_modal{
                    padding: 0.2em 0.9em;
                    font-size: 1em;
                    margin-right: 1.5em;
                }
    
                .comprar{
                    font-size: 1em;
                    padding: 0.25em 0.9em;
                }
    
            }
        }
    }
}