@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.NavBar{
    padding: 1.3em 0 1.3em 1.8em;
    border: 1px solid white;
    border-radius: 10px;

    *{
    color: white;
    text-decoration: none;
    }
    
    #nombre{
        font-family: Bebas Neue;
        letter-spacing: 10px;
        font-size: 1.1em;
    }
    
    .items{
        display: inline;
        float: right;
        *{
            font-size: 1.2em;
            margin-right: 3em;
            font-family: Antonio;
        }
    }
}

@media(max-width: 860px){
    .NavBar{
        padding: 1.3em 0 1.3em 1.8em;
        border: 2px solid white;

        #nombre{
            letter-spacing: 5px;
            font-size: 1.3em;
        }

        .items{
            *{
                margin-right: 1.2em;
                font-size: 1.2em;
            }
        }
    }
}

@media(max-width: 578px){
    .NavBar{
        padding: 1em 0 1em 1em;
        border: 2px solid white;

        #nombre{
            letter-spacing: 2px;
            font-size: 1.4em;
        }

        .items{
            *{
                margin-right: 1.5em;
                font-size: 1.3em;
            }
        }
    }
}

@media(max-width: 395px){
    .NavBar{
        padding: 1em 0 1em 0.5em;
        border: 2px solid white;

        #nombre{
            letter-spacing: 2px;
            font-size: 1.2em;
        }

        .items{
            *{
                margin-right: 0.7em;
                font-size: 1.1em;
            }
        }
    }
}
